# Node
node_modules/

# Build output
dist/

# Vite cache
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env

# Coverage
coverage/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Misc
*.log
*.tsbuildinfo

.claude/